In [1]:
!pip install GitPython

Requirement already satisfied: GitPython in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (3.1.31)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from GitPython) (4.0.10)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from gitdb<5,>=4.0.1->GitPython) (5.0.0)

In [6]:
import csv
import subprocess
import requests
from git import Repo
import pandas as pd

# Clone the Github repository
os.system("https://github.com/PhonePe/pulse.git")

import os
import json
import pandas as pd

root_dir = (r'/content/pulse/data')

# Initialize empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/aggregated/transaction/country/india/state')):
    state_path = os.path.join(root_dir, '/content/pulse/data/aggregated/transaction/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for transaction_data in data['data']['transactionData']:
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'Transaction_Type': transaction_data['name'],
                                    'Transaction_Count': transaction_data['paymentInstruments'][0]['count'],
                                    'Transaction_Amount': transaction_data['paymentInstruments'][0]['amount']
                                }
                                data_list.append(row_dict)

# Convert list of dictionaries to dataframe
df1 = pd.DataFrame(data_list)
df1

ImportError: Failed to initialize: Bad git executable.
The git executable must be specified in one of the following ways:
    - be included in your $PATH
    - be set via $GIT_PYTHON_GIT_EXECUTABLE
    - explicitly set via git.refresh()

All git commands will error until this is rectified.

This initial warning can be silenced or aggravated in the future by setting the
$GIT_PYTHON_REFRESH environment variable. Use one of the following values:
    - quiet|q|silence|s|none|n|0: for no warning or exception
    - warn|w|warning|1: for a printed warning
    - error|e|raise|r|2: for a raised exception

Example:
    export GIT_PYTHON_REFRESH=quiet

<!--  -->data frame 1

In [1]:
import os
import json
import pandas as pd

# Clone the Github repository
os.system("git clone https://github.com/phonepe/pulse.git")

# Set the path to the cloned repository
root_dir = r'C:/Users/Lenovo/pulse/data'

# Initialize an empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, 'aggregated/transaction/country/india/state')):
    state_path = os.path.join(root_dir, 'aggregated/transaction/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for transaction_data in data['data']['transactionData']:
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'Transaction_Type': transaction_data['name'],
                                    'Transaction_Count': transaction_data['paymentInstruments'][0]['count'],
                                    'Transaction_Amount': transaction_data['paymentInstruments'][0]['amount']
                                }
                                data_list.append(row_dict)

# Convert list of dictionaries to a DataFrame
df1 = pd.DataFrame(data_list)
df1

,States,Transaction_Year,Quarters,Transaction_Type,Transaction_Count,Transaction_Amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
3589,west-bengal,2022,4,Peer-to-peer payments,184380244,6.202222e+11
3590,west-bengal,2022,4,Merchant payments,171667404,1.408077e+11
3591,west-bengal,2022,4,Recharge & bill payments,48921147,2.602663e+10
3592,west-bengal,2022,4,Financial Services,268388,2.611229e+08
3593,west-bengal,2022,4,Others,610414,4.579379e+08

In [2]:
# import os
# import json
# import pandas as pd

root_dir = 'C:/Users/Lenovo/pulse/data/aggregated/user/country/india/state'
df2_list = []

for state_dir in os.listdir(root_dir):
    state_path = os.path.join(root_dir, state_dir)
    if os.path.isdir(state_path):
        for json_file in os.listdir(state_path):
            if json_file.endswith('.json'):
                with open(os.path.join(state_path, json_file), 'r') as f:
                    json_data = json.load(f)
                    if isinstance(json_data, list):
                        df2_list += json_data
                    else:
                        df2_list.append(json_data)
        if df2_list:
            df2 = pd.json_normalize(df2_list)
            df2['subfolder'] = state_dir
            df2['subsubfolder'] = 'state'
df2 = pd.DataFrame(data_list)

df2

,States,Transaction_Year,Quarters,Transaction_Type,Transaction_Count,Transaction_Amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
3589,west-bengal,2022,4,Peer-to-peer payments,184380244,6.202222e+11
3590,west-bengal,2022,4,Merchant payments,171667404,1.408077e+11
3591,west-bengal,2022,4,Recharge & bill payments,48921147,2.602663e+10
3592,west-bengal,2022,4,Financial Services,268388,2.611229e+08
3593,west-bengal,2022,4,Others,610414,4.579379e+08

In [3]:
root_dir = (r'C:/Users/Lenovo/pulse/data')

# Initialize empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, 'C:/Users/Lenovo/pulse/data/map/transaction/hover/country/india/state')):
    state_path = os.path.join(root_dir, 'C:/Users/Lenovo/pulse/data/map/transaction/hover/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for hoverDataList in data['data']['hoverDataList']:
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'District': hoverDataList['name'],
                                    'Transaction_Type': hoverDataList['metric'][0]['type'],
                                    'Transaction_Count': hoverDataList['metric'][0]['amount']
                                }
                                data_list.append(row_dict)

# Convert list of dictionaries to dataframe
df3 = pd.DataFrame(data_list)

df3

,States,Transaction_Year,Quarters,District,Transaction_Type,Transaction_Count
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,TOTAL,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,TOTAL,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,TOTAL,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,TOTAL,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,TOTAL,2.394824e+07
...,...,...,...,...,...,...
14631,west-bengal,2022,4,nadia district,TOTAL,2.804568e+10
14632,west-bengal,2022,4,birbhum district,TOTAL,1.614650e+10
14633,west-bengal,2022,4,purba medinipur district,TOTAL,3.309949e+10
14634,west-bengal,2022,4,maldah district,TOTAL,2.721861e+10
14635,west-bengal,2022,4,darjiling district,TOTAL,1.801650e+10

In [4]:
root_dir = 'C:/Users/Lenovo/pulse/data/map/user/hover/country/india/state'

# Initialize empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(root_dir):
    state_path = os.path.join(root_dir, state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for district, values in data['data']['hoverData'].items():
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarter': int(json_file.split('.')[0]),
                                    'District': district,
                                    'RegisteredUsers': values['registeredUsers'],
                                }
                                data_list.append(row_dict)

# Convert list of dictionaries to dataframe
df4 = pd.DataFrame(data_list)

df4

,States,Transaction_Year,Quarter,District,RegisteredUsers
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846
2,andaman-&-nicobar-islands,2018,1,nicobars district,262
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143
...,...,...,...,...,...
14635,west-bengal,2022,4,nadia district,1359420
14636,west-bengal,2022,4,birbhum district,855236
14637,west-bengal,2022,4,purba medinipur district,1346908
14638,west-bengal,2022,4,maldah district,954892
14639,west-bengal,2022,4,darjiling district,564562

In [5]:
root_dir = (r'C:/Users/Lenovo/pulse/data')

# Initialize empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, 'C:/Users/Lenovo/pulse/data/top/transaction/country/india/state')):
    state_path = os.path.join(root_dir, 'C:/Users/Lenovo/pulse/data/top/transaction/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for districts in data['data']['districts']:
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'District': districts['entityName'],
                                    'Transaction_Type': districts['metric']['type'],
                                    'Transaction_Count': districts['metric']['count'],
                                    'Transaction_Amount': districts['metric']['amount']
                                }
                                data_list.append(row_dict)

# Convert list of dictionaries to dataframe
df5 = pd.DataFrame(data_list)

df5

,States,Transaction_Year,Quarters,District,Transaction_Type,Transaction_Count,Transaction_Amount
0,andaman-&-nicobar-islands,2018,1,south andaman,TOTAL,5688,1.256025e+07
1,andaman-&-nicobar-islands,2018,1,nicobars,TOTAL,528,1.139849e+06
2,andaman-&-nicobar-islands,2018,1,north and middle andaman,TOTAL,442,9.316631e+05
3,andaman-&-nicobar-islands,2018,2,south andaman,TOTAL,9395,2.394824e+07
4,andaman-&-nicobar-islands,2018,2,nicobars,TOTAL,1120,3.072437e+06
...,...,...,...,...,...,...,...
5915,west-bengal,2022,4,south twenty four parganas,TOTAL,15651650,3.373698e+10
5916,west-bengal,2022,4,purba medinipur,TOTAL,14484229,3.309949e+10
5917,west-bengal,2022,4,hooghly,TOTAL,13931352,2.755409e+10
5918,west-bengal,2022,4,howrah,TOTAL,13350090,2.793786e+10
5919,west-bengal,2022,4,paschim medinipur,TOTAL,12768161,2.521681e+10

In [6]:
root_dir = 'C:/Users/Lenovo/pulse/data/top/user/country/india/state'

# Initialize empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(root_dir):
    state_path = os.path.join(root_dir, state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for district in data['data']['districts']:
                                row_dict = {
                                    'State': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'District': district['name'] if 'name' in district else district['pincode'],
                                    'RegisteredUsers': district['registeredUsers'],
                                }
                                data_list.append(row_dict)

# Convert list of dictionaries to dataframe
df6 = pd.DataFrame(data_list)
df6

,State,Transaction_Year,Quarters,District,RegisteredUsers
0,andaman-&-nicobar-islands,2018,1,south andaman,5846
1,andaman-&-nicobar-islands,2018,1,north and middle andaman,632
2,andaman-&-nicobar-islands,2018,1,nicobars,262
3,andaman-&-nicobar-islands,2018,2,south andaman,8143
4,andaman-&-nicobar-islands,2018,2,north and middle andaman,911
...,...,...,...,...,...
5915,west-bengal,2022,4,howrah,1422011
5916,west-bengal,2022,4,nadia,1359420
5917,west-bengal,2022,4,purba medinipur,1346908
5918,west-bengal,2022,4,paschim medinipur,1217113
5919,west-bengal,2022,4,purba bardhaman,1119310

In [10]:
# Data transformation on file1
# Drop any duplicates
d1 = df1.drop_duplicates()
d2 = df2.drop_duplicates()
d3 = df3.drop_duplicates()
d4 = df4.drop_duplicates()
d5 = df5.drop_duplicates()
d6 = df6.drop_duplicates()

In [11]:
d2 = df2.drop_duplicates()

In [12]:
# checking Null values
null_counts = d1.isnull().sum()
print(null_counts)

null_counts = d2.isnull().sum()
print(null_counts)

null_counts = d3.isnull().sum()
print(null_counts)

null_counts = d4.isnull().sum()
print(null_counts)

null_counts = d5.isnull().sum()
print(null_counts)

null_counts = d6.isnull().sum()
print(null_counts)

States                0
Transaction_Year      0
Quarters              0
Transaction_Type      0
Transaction_Count     0
Transaction_Amount    0
dtype: int64
States                0
Transaction_Year      0
Quarters              0
Transaction_Type      0
Transaction_Count     0
Transaction_Amount    0
dtype: int64
States               0
Transaction_Year     0
Quarters             0
District             0
Transaction_Type     0
Transaction_Count    0
dtype: int64
States              0
Transaction_Year    0
Quarter             0
District            0
RegisteredUsers     0
dtype: int64
States                0
Transaction_Year      0
Quarters              0
District              0
Transaction_Type      0
Transaction_Count     0
Transaction_Amount    0
dtype: int64
State               0
Transaction_Year    0
Quarters            0
District            0
RegisteredUsers     0
dtype: int64

In [14]:
# converting all dataframes in to csv
d1.to_csv('agg_trans.csv', index=False)
d2.to_csv('agg_user.csv', index=False)
d3.to_csv('map_tran.csv', index=False)
d4.to_csv('map_user.csv', index=False)
d5.to_csv('top_tran.csv', index=False)
d6.to_csv('top_user.csv', index=False)

In [9]:

file_path=r'C:\Users\Lenovo\pulse\data\map_user.csv'
Map_user = pd.read_csv(file_path)
# Agg_trans = pd.read_csv(file_path)
# Agg_trans = pd.read_csv(file_path)
# Agg_trans = pd.read_csv(file_path)
# Agg_trans = pd.read_csv(file_path)
# Agg_trans = pd.read_csv(file_path)
print(Map_user.columns)

Index(['States', 'Transaction_Year', 'Quarter', 'District', 'RegisteredUsers'], dtype='object')

In [10]:
import numpy as np
import mysql.connector
mydb =mysql.connector.connect(
    host="localhost",
    user="root",
    password="Gobi@7819",
    database="phonepe_pulse"
)
cursor=mydb.cursor()
df=Map_user.fillna(0)
for index in df.index:
    row=df.loc[index]
    quary='insert into map_user (States, Transaction_Year, Quarters, District, RegisteredUsers) values(%s,%s,%s,%s,%s)'
    value=tuple(row.to_dict().values())
    cursor.execute(quary,value)
    mydb.commit()
#     break

In [8]:
import mysql.connector
mydb =mysql.connector.connect(
    host="localhost",
    user="root",
    password="Gobi@7819",
    database="phonepe_pulse"
)
cursor=mydb.cursor()
df=Map_tran.fillna(0)
for index in df.index:
    row=df.loc[index]
    quary='insert into map_tran (States, Transaction_Year, Quarters, District, Transaction_Type, Transaction_Count) values(%s,%s,%s,%s,%s,%s)'
    value=tuple(row.to_dict().values())
    cursor.execute(quary,value)
    mydb.commit()
#     break